<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="main.sfm.member.vo.SfmMemVO" alias="sfmmemvo"/> 
		<typeAlias type="main.sfm.match.vo.SfmMatchVO" alias="sfmmatchvo"/>
		<typeAlias type="main.sfm.community.vo.SfmCommunityVO" alias="sfmcommunityvo"/>
		<typeAlias type="main.sfm.rcommunity.vo.SfmRcommunityVO" alias="sfmrcommunityvo"/>
		<typeAlias type="main.sfm.notice.vo.SfmNoticeVO" alias="sfmnoticevo"/>
		<typeAlias type="main.sfm.event.vo.SfmEventVO" alias="sfmeventvo"/> 
		<typeAlias type="main.sfm.payment.vo.SfmPaymentVO" alias="sfmpaymentvo"/> 
		 
		<!--  일정관리 캘린더  -->
		<typeAlias type="main.sfm.calender.vo.SfmCalenderVO" alias="sfmcalendervo"/> 
		<!--  게시판 좋아요  -->
        <typeAlias type="main.sfm.like.vo.SfmLikeVO" alias="sfmlikevo"/>  
		<!-- ID,PW 찾기  -->	
		<typeAlias type="main.sfm.login.vo.SfmTempAuthVO" alias="sfmtempauthvo"/>
		<typeAlias type="main.sfm.login.vo.SfmTempPwVO" alias="sfmtemppwvo"/>
	</typeAliases>
</configuration>